
#container{
    height: 1200px;
    width: 100%;
    border:none;
    margin-top: 90px;
}
.top_left{
    display: flex;
    width: 220px;
    justify-content: space-evenly;
    margin-left: 30px;
    font-size: 12px;
    font-weight: 400;
    color:#666666;
    font-family: "Trade Gothic W01 Light", Arial, sans-serif;
}
#box1{
    width: 60%;
    height: 200px;
    border-bottom: 1px solid rgb(34, 33, 33);
    margin: auto;
    box-sizing: border-box;
    
}
#box1 > img{
    height: 55%;
    width: 100%;
}
#para1{
    
    font-family:  "Trade Gothic W01 Light", Arial, sans-serif ;
    font-weight:200;
    color: #333333;
    font-size: 24px;
    line-height: 21px;
    margin-top: 45px;
}
#home{
    text-decoration: underline;
    cursor: pointer;
}
.inputField{
    width: 60%;
    height: 900px;
    border: none;
    margin: auto;
    display: flex;
    justify-content: center;
    
}
#red{
    color: red;
}
#req{
    font-size: 11px;
    font-family: "Trade Gothic W01 Light", Arial, sans-serif; ;
    margin-right: 20px;
    color: #666666;
    margin-top: 2px;
    position: absolute; 
    margin-right: -830px;
    float: right; 
    
}
.sizeset{
    height: 30px;
    width: 350px;
    margin-bottom: 25px;
    
    
}
.paraFont{
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #333333;
}
.phone{
    font-size: 12px;
    line-height: 12px;
    color: #666666;
    font-weight: 400;
    margin-top: -15px;
    margin-bottom: 40px;
}
#field-icon {
    float: right;
    margin-left: -55px;
    position:absolute;
    /* z-index: 2; */
    margin-top: 8px;
    font-size: 13px;
  }
  .align{
      text-align: center;
      text-decoration: underline;
      font-size: 12px;
      cursor: pointer;
  }
  #submitbox{
      height: 38px;
      width: 200px;
      font-size: 12px;
      background-color: rgb(51,51,51);
      color: white;
      padding: 10px;
      border: none;
      margin-top: 15px;
      margin-left: 85px;
      
  }
  #user input[type="submit"]:hover {
    background: white;
    color: black;
}
  #question{
      text-align: center;
      margin-top: 25px;
      font-size: 12px;
      color:rgb(149,121,150);
      line-height: 15px;
     font-weight: 400;
  }
  #question+p{
      text-align: center;
      font-size: 13px;
      color:rgb(149,121,150);
      font-weight: 400;
  }

  @media all and (min-width: 381px) and (max-width:720px){
    #container{
        width: 100%;
        margin: auto;
    }
    .inputField{
        width: 100%;
        height: 900px;
        margin: auto;
        display: flex;
        justify-content: center;
        
    }
    #req{
        margin-left: 100px;
    }

  }
  @media all and (min-width: 80px) and (max-width:380px){
    #container{
        width: 100%;  
    }
    .inputField{
        width: 100%;
        display: flex;
        justify-content: center;
        box-sizing: content-box;
         
    }
    .sizeset{
        height: 20px;
        width: 180px;
        margin-bottom: 10px;  

    }

  }

input[type=text]:focus{
    outline: 0.5px dotted;
    outline-offset: 1px;  
}
input[type=email]:focus{
    outline: 0.5px dotted;
    outline-offset: 1px;  
}
input[type=number]:focus{
    outline: 0.5px dotted;
    outline-offset: 1px;  
}
input[type=password]:focus{
    outline: 0.5px dotted;
    outline-offset: 1px;  
}


#nameerror{
    color: red;
}  
